node_modules
packages/uview-ultra/dist
packages/uview-ultra-icons/dist
unpackage
apps/playground/**/node_modules
apps/playground/**/unpackage
apps/playground/**/dist
apps/playground/*/.vscode
apps/playground/*/.hbuilderx
docs/.vitepress/cache
docs/.vitepress/dist
