node_modules
packages/uview-ultra/dist
packages/uview-ultra-icons/dist
unpackage
examples/**/node_modules
examples/**/unpackage
examples/**/dist
examples/*/.vscode
examples/*/.hbuilderx
docs/.vitepress/cache
docs/.vitepress/dist
